In [43]:
import numpy as np
import pandas as pd


#Para começar, precisamos importar a biblioteca pandas e carregar o dataset.
df = pd.read_csv('salaries.csv', sep=',')
#Após carregar o dataset, é útil visualizar as primeiras linhas para entender a estrutura dos dados.
print(df.head(2))
#Verifique os nulos e tipos de dados
df.isna().sum()
df.info()
#descubra o número de dados que o dataframe possui
df.count()
#qual é o basepay médio
df['BasePay']
df[df['BasePay'] == 'Not Provided']
df = df[~(df['BasePay'] == 'Not Provided')]
df['BasePay'] = df['BasePay'].astype(float)
df.info()
#Qual é o maior overtimepay do dataset
valor_maximo = df['OvertimePay'].astype(float).max()
df[df['OvertimePay']==valor_maximo]
#qual é o cargo do JOSEPH DRISCOLL
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
#quanto ele ganha incluindo benefícos?
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPay']
#pessoa que tem o maior salário base
df['BasePay'].max()
df[df['BasePay'] == df['BasePay'].max()]
#pessoa mais mal paga
df['BasePay'].min()
df[df['BasePay'] == df['BasePay'].min()]
#qual a média salarial por ano?
df['Year'].value_counts()
df.groupby('Year').agg({'BasePay': ['mean']})
#quantos títulos de trabalhos existem?
df['JobTitle'].nunique()
#quais são os 5 principais empregos mais comuns
df['JobTitle'].value_counts()
#quantas pessoas tem a palavra chefe em seu cargo?
def chefe(valor):
    if 'chief' in valor.lower():
        return True
    else:
        return False

df[df['JobTitle'].apply(chefe)]

C:\Users\luiz\AppData\Local\Temp\ipykernel_17028\745974800.py:6: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('salaries.csv', sep=',')

   Id    EmployeeName                                        JobTitle  \
0   1  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2    GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 148650 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148650 non-null  int64
 1   EmployeeName      148650 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  object
 5   OtherPay          148650 non-null  object
 6   Benefits          112491 non-null  object
 7   TotalPay          148650 non-null  float64
 8   TotalPayBenefits  148650 non-null  float64
 9   Year              148650 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148650 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 15.9+ MB

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,PT
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,PT
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,PT
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,PT
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,PT